<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">

    <setting propertyKey="@Properties.ClockFont" title="@Strings.ClockFontTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.FontSaira</listEntry>
            <listEntry value="1">@Strings.FontRajdhani</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.AlwaysShowSeconds" title="@Strings.AlwaysShowSecondsTitle">
        <settingConfig type="boolean"/>
    </setting>

    <setting propertyKey="@Properties.WindSpeedUnit" title="@Strings.WindSpeedUnitTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.WindSpeedAuto</listEntry>
            <listEntry value="1">@Strings.WindSpeedKph</listEntry>
            <listEntry value="2">@Strings.WindSpeedKnots</listEntry>
            <listEntry value="3">@Strings.WindSpeedMph</listEntry>
            <listEntry value="4">@Strings.WindSpeedMs</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.WeatherSource" title="@Strings.WeatherSourceTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.WeatherSourceGarmin</listEntry>
            <listEntry value="1">@Strings.WeatherSourceOpenMeteo</listEntry>
            <listEntry value="2">@Strings.WeatherSourceOWM</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.SurfMode" title="@Strings.SurfModeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.SurfModeShore</listEntry>
            <listEntry value="1">@Strings.SurfModeSurf</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ShoreSubscreen" title="@Strings.ShoreSubscreenTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.SubscreenHR</listEntry>
            <listEntry value="1">@Strings.SubscreenTemp</listEntry>
            <listEntry value="2">@Strings.SubscreenAltitude</listEntry>
            <listEntry value="3">@Strings.SubscreenSteps</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ShoreArc" title="@Strings.ShoreArcTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ArcStress</listEntry>
            <listEntry value="1">@Strings.ArcSolar</listEntry>
            <listEntry value="2">@Strings.ArcBodyBattery</listEntry>
            <listEntry value="3">@Strings.ArcDisabled</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.SurfArc" title="@Strings.SurfArcTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ArcSolar</listEntry>
            <listEntry value="1">@Strings.ArcStress</listEntry>
            <listEntry value="2">@Strings.ArcBodyBattery</listEntry>
            <listEntry value="3">@Strings.ArcDisabled</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.SurfTempSource" title="@Strings.SurfTempSourceTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.SurfTempWatch</listEntry>
            <listEntry value="1">@Strings.SurfTempOcean</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.SurfSpotLat" title="@Strings.SurfSpotLatTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>

    <setting propertyKey="@Properties.SurfSpotLng" title="@Strings.SurfSpotLngTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>

    <setting propertyKey="@Properties.CopyGPSToSurfSpot" title="@Strings.CopyGPSToSurfSpotTitle">
        <settingConfig type="boolean"/>
    </setting>

    <setting propertyKey="@Properties.OWMApiKey" title="@Strings.OWMApiKeyTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>

    <setting propertyKey="@Properties.StormGlassApiKey" title="@Strings.StormGlassApiKeyTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>

    <setting propertyKey="@Properties.StormGlassBackupApiKey" title="@Strings.StormGlassBackupApiKeyTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>

    <setting propertyKey="@Properties.HomeLat" title="@Strings.HomeLatTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>

    <setting propertyKey="@Properties.HomeLng" title="@Strings.HomeLngTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>

</settings>
